<html>
  <head>
    <meta charset="utf-8">
    <title>My Site - {% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="{{config.title}}" content="{{config.description}}" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script src="{{baseurl}}/public/js/main.js"></script>
    <link rel="stylesheet" href="{{baseurl}}/public/css/syntax-theme-dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{baseurl}}/public/css/syntax-theme-light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{baseurl}}/public/css/main.css" type="text/css" media="screen" />
    <style>
    </style>
  </head>

  <body class="flex">
    <nav>
      <div class="site-name">///// {{config.title}} </div>
      <ul class="flex">
        <li><a class="nav-link" href="#replace_me">Post</a></li>
        <li><a class="nav-link" href="#replace_me">About</a></li>
        <li><a class="nav-link" href="#replace_me">Feed</a></li>
      </ul>
    </nav>

    <div class="flex">
    <main class="flex">
      <div class="flex-col flex-1">
        <article>
          {% if page.title %}
            <h1 class="page-title"> {{page.title}}</h1>
          {% endif %}
          {% block content %} {{page.content}} {% endblock content %}
        </article>
      </div>


    </main>

      <aside class="sidebar">
        {% if page %}
          {% if page.toc | length > 0 %}
          <h4> Contents </h4>
          <ul>
            {% for link in page.toc %}
            {% set hlvl = link.link_type.Toc.heading_level -%}
            {% set indent_width = hlvl * 4 -%}
            {% if hlvl == 1 or hlvl == 2 %}
              <li><a  href="{{link.url}}">{{link.title}}</a></li>
            {% else %}
              <li style="margin-left: {{indent_width}}px"><a href="{{link.url}}">{{link.title}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}

        {% if page.backlinks | length > 0 %}
          <h4> Backlinks </h4>
          <ul>
            {% for link in page.backlinks %}
            <li><a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

          {% if page.related_files | length > 0 %}
          <h4>Similarly tagged</h2>
          <ul class="">
            {% for related_link in page.related_files %}
            <li><a href="{{related_link.url}}">{{related_link.title}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      </aside>
    </div>
  </body>
  <script>
    window.x = {{__tera_context}};
  </script>

</html>

