@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

:root {
  --bg: rgb(253, 253, 253);
  --bg-alt: rgb(253, 253, 253);
  --border-col: rgb(70, 70, 70);
  --color: #333;
  --color-alt: #666;
  --link-color: #2980b9;
  --font: "Avenir", "Arial";
}

/* CSS Variables (dark mode) */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(33, 33, 39);
    --bg-alt: rgb(28, 28, 38);
    --border-col: rgb(25, 25, 25);
    --color: #dfdfdf;
    --color-alt: #666;
    --link-color: #fdcb6e;
    --font: "Avenir", "Arial";
  }
}


body {
  color: var(--color);
  background-color: var(--bg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

.footnote-definition {
  display: flex;
  align-items: baseline;
}

.footnote-definition-label {
  margin-right: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 2px solid var(--border-col);
  background-color: var(--bg);
}

nav ul {
  list-style-type: none;
}

.nav-link {
  margin-left:16px;
}


pre {
  overflow: scroll;
  border: 1px solid #dfdfdf;
  padding: 16px;
  margin: 24px 0;
}

a {
  color: var(--link-color);
text-decoration: none;
}

main {
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 32px;
}

article {
  font-size: 17px;
  max-width: 36em;
}

a:visited {
  color: var(--color);
}


section {
  padding-bottom: 32px;
}

ul, ol {
  padding-left: 16px;
}

img { max-width: 100%; }

.text-sm {font-size: 12px;}
.text-md {font-size: 16px;}

.text-alt {
  color: var(--color-alt);
}

.sidebar {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  padding: 32px;
  position: sticky;
  top: 20px;
  height: 100vh;
  overflow: auto;

}

@media(max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

.page-title {
  margin-bottom: 64px;
}

/* -- utility classes -- */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
